@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0px auto;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.section-1 {
  width: 700px;
  height: 150px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.title-container {
  color: white;
  /* font-size: 30px; */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: column wrap;
  height: 100%;
  width: 49%;
  margin-left: 35px;
}

.title-container div{
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-weight: 700;
  font-size: 40px;
}

.score-container {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 115px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  margin-right: 25px;
}

.score-title {
  color: hsl(229, 25%, 31%);
  font-size: 15px;
  letter-spacing: 2px;
}

.score {
  font-size: 55px;
  color: hsl(229, 25%, 31%);
  letter-spacing: 2px;
  font-weight: 700;
}

.section-2 {
  margin-top: 60px;
  height: 460px;
  width: 470px;
  /* background-image: url('/bg-triangle.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid white; */
  position: relative;
}

.choice {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
}

.outer-circle {
  width: 161px;
  height: 161px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.two-choice-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
}

.one-choice{
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.paper-choice {
  border: 20px solid hsl(230, 89%, 65%);
}

.rock-choice {
  border: 20px solid hsl(349, 70%, 56%);
}

.scissors-choice {
  border: 20px solid hsl(40, 84%, 53%);
}

.section-3 {
  display: flex;
  width: 100%;
  justify-content: right;
}

.rules {
  border: 1px solid white;
  color: white;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-right: 30px;
  cursor: pointer;
}

.final-choice {
  background-color: white;
  width: 285px;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
}

.final-outer-circle {
  width: 221px;
  height: 221px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.final-paper-choice {
  border: 32px solid hsl(230, 89%, 65%);
}

.final-rock-choice {
  border: 32px solid hsl(349, 70%, 56%);
}

.final-scissors-choice {
  border: 32px solid hsl(40, 84%, 53%);
}

.empty-computer-choice {
  width: 200px;
  height: 200px;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  border-radius: 200px;
}

.choices-container {
  display: flex;
  justify-content:center;
  gap: 50px;
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  margin-top: 80px;
}

.choice-container {
  position: relative;
}

.your-choice-title, .computer-choice-title {
  color: white;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.choice-wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-rules-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-rules {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.active-rules-top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.active-rules-title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;

}

.active-rules-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.active-rules-close:hover {
  opacity: 1;
}
.active-rules-close:before, .active-rules-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.active-rules-close:before {
  transform: rotate(45deg);
}
.active-rules-close:after {
  transform: rotate(-45deg);
}

.active-rules-img {
  margin: auto;
}

.bg-img-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-user-choice {
  display: none;
}

.mobile-result-container {
  display: none;
  justify-content: center;
  align-items: center;
  /* flex-wrap: column nowrap; */
  /* width: 500px; */
  text-align: center;
}

.mobile-result {
  width:100%;
  display: block;
  color: white;
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: 700;
}

.mobile-play-again {
  color: red;
  background-color: white;
  border-radius: 8px;
  margin: 0px auto;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  width: 190px;
}

.mobile-computer-choice {
  display: none;
}

.active-mobile-rules-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.active-mobile-rules {
  background-color: white;
}

.active-mobile-rules-close-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100vh; */
  
}

.active-mobile-rules-close {
  position: absolute;
  /* right: 32px; */
  /* top: 32px; */

  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.active-mobile-rules-close:hover {
  opacity: 1;
}
.active-mobile-rules-close:before, .active-mobile-rules-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.active-mobile-rules-close:before {
  transform: rotate(45deg);
}
.active-mobile-rules-close:after {
  transform: rotate(-45deg);
}

/* .active-mobile-rules-img {
  width: 100%;
  max-width: 304px;
  height: 100%;
  max-height: 270px;
} */